.txt1{
    font-family: monotype corsiva;
  }
  .start{
    font-family: monotype corsiva;
  }
  .end{
    font-family: monotype corsiva;
  }
  #ebe{
        font-family: monotype corsiva;
  }